<app-home></app-home>
  <form #form="ngForm" (ngSubmit)="submitForm(form)">
   <mat-form-field appearance="outline">
      <mat-label>Enter your id</mat-label>
      <input matInput placeholder={{user.id}} value="idd" name="id" [(ngModel)]="user.id" required pattern="[0-9]{9}" (change)="changeId()">
      <mat-icon matSuffix>dialpad</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your first name</mat-label>
      <input matInput placeholder={{user.firstName}} name="firstName" [(ngModel)]="user.firstName" pattern="[a-zA-Z]*" required (change)="changeName()">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your last name</mat-label>
      <input matInput placeholder={{user.lastName}} name="lastName" [(ngModel)]="user.lastName" required  (change)="changeName()">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Enter your birth date</mat-label>
      <input matInput placeholder={{user.birthDate}} name="birthDate" [(ngModel)]="user.birthDate" type="date" required>
      <mat-icon matSuffix>calendar_month</mat-icon>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Select Sex</mat-label>
      <mat-select [(ngModel)]="user.sex" name="sex" required (selectionChange)="changeSex()">
        <mat-option value="1">male</mat-option>
        <mat-option value="2">female</mat-option>
      </mat-select> 
     <mat-icon matSuffix>wc</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select HMO</mat-label>
      <mat-select [(ngModel)]="user.HMO" name="HMO" required>
        <mat-option value="1">Maccabi</mat-option>
        <mat-option value="2">Meuhedet</mat-option>
        <mat-option value="3">Clalit</mat-option>
        <mat-option value="4">Leumit</mat-option>
      </mat-select> 
     <mat-icon matSuffix>health_and_safety</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select Status</mat-label>
      <mat-select [(ngModel)]="user.status" name="status" required (selectionChange)="changedStatus()">
        <mat-option value="1">married</mat-option>
        <mat-option value="2">single</mat-option>
        <mat-option value="3">divorced</mat-option>
      </mat-select> 
     <mat-icon matSuffix>menu</mat-icon>
    </mat-form-field>
    <div *ngIf="this.isHusband==true" >
      <mat-form-field appearance="outline">
        <mat-label>Enter your husband id</mat-label>
        <input matInput  name="idFamily" [(ngModel)]="user.idFamily" required pattern="[0-9]{9}" >
        <mat-icon matSuffix>dialpad</mat-icon>
      </mat-form-field>
    </div><br>
     <input class="ChildButton" type="button" value="Add a child" (click)="AddChildren()">
    <div *ngIf="showChild==true">
<p class="pChild">Child</p>
<mat-form-field appearance="outline">
  <mat-label>Enter your id</mat-label>
  <input matInput  class="form-control" [(ngModel)]="child.id"  name="id{{child.id}" pattern="[0-9]{9}" required >
  <mat-icon matSuffix>dialpad</mat-icon>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Enter your first name</mat-label>
  <input matInput class="form-control" [(ngModel)]="child.firstName" name="firstName_{{child.firstName}" pattern="[a-zA-Z]*" required>
  <mat-icon matSuffix>person</mat-icon>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Enter your birth date</mat-label>
  <input matInput class="form-control" [(ngModel)]="child.birthDate" name="birthDate{{child.birthDate}" type="date" required>
  <mat-icon matSuffix>calendar_month</mat-icon>
</mat-form-field>
<input class="ChildButton" type="button" value="Submit Child" (click)="AddChild()">
</div>  <br>
  <p class="pChild">Do you want to export Excel of your form? </p><mat-checkbox class="example-margin" (change)="exportData()" name="checked" [(ngModel)]="checked" ></mat-checkbox><br>
  <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">Submit<mat-icon matSuffix>publish</mat-icon></button> 
</form>
    <table id="excel-table">
      <tr>
        <th>idFamily</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>id</th>
        <th>birthDate</th>
        <th>sex</th>
        <th>HMO</th>
        <th>status</th>
      </tr>
      <tr *ngFor="let item of userList">
        <td>{{item.idFamily}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.birthDate}}</td> 
        <td>{{item.id}}</td> 
        <td>{{item.sex}}</td> 
        <td>{{item.HMO}}</td> 
        <td>{{item.status}}</td> 
      </tr>
    </table>