h4{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vh;
}
mat-form-field{
    margin: 1%;
}
button{
    margin: 1%;
}
p{
    display: inline;
}
th{
    color: white;
}
td{
    color: white;
}
.ChildButton{
    padding: 1%;
    background-color: blue;
    border-radius: 1%;
    color: white;
    border-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pChild{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blue;
font-size: 4vh;
}
.example-margin{
    color: 'primary';
    size: 3vh;
}