<app-home></app-home>
<h1>Hello {{userName}}</h1>
<pre>
Below are the instructions for filling out the form,

1. Fill in your 9-digit social security number.

2. Fill in your first name and last name, it is recommended as it appears on your identity card/passport.

3. Fill in your date of birth.

4. Choose whether you are male/female.

5. Choose which health fund you participate in.

6. Choose what your personal situation is.

7. If you are female and married, fill in your husband's 9-digit social security number.

8. If you have children, add the details of all of them by clicking the button Add child each time:

A. His 9-digit social security number

B. his first name.

C. His date of birth.

All the fields below are required!!!

Successfully :)
</pre>