h1{
    color: blue;
    font-size: 6vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
pre{
    font-size: 4vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
